@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg--primary: #181a1b;
    --text--primary: #d4d0ca;
    --border--primary: #81786a;
    --bg--secondary: #272a2c;
    --text--secondary: #e8e6e3;
    --border--secondary: #303436;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 border-2 font-semibold bg-darkBg border-darkBorder focus:outline-none active:translate-y-1 active:translate-x-1 hover:bg-darkBgSecondary;
  }
  .btn-secondary {
    @apply py-2 px-4 border-2 font-semibold bg-darkBgSecondary border-darkBorder focus:outline-none active:translate-y-1 active:translate-x-1;
  }

  .input-primary {
    @apply py-2 px-4 border-2 font-semibold focus:outline-none focus:bg-darkBgSecondary bg-darkBg border-darkBorder placeholder-gray-400;
  }

  .heading-primary {
    @apply text-lg font-bold select-none text-darkTextSecondary
  }

  .heading-secondary {
    @apply text-lg font-bold select-none text-darkText
  }
}